.markdown{font-size:14px;margin-top:26px;font-family:-apple-system,Roboto,"Open Sans","Microsoft Yahei Light","Microsoft YaHei","Helvetica Neue",Oxygen,sans-serif}
.markdown h1,.markdown h2,.markdown h3,.markdown h4{color:#555;text-shadow:0 1px 1px rgba(0,0,0,.1);margin-top:20px;line-height:1.8}
.markdown h3:before,.markdown h4:before{content:'# ';color:#aaa}
.markdown h1{padding:10px 5px;margin-bottom:19px}
.markdown h2{padding:10px;border-bottom:1.5px solid #eee;margin-bottom:18px;font-size:19px}
.markdown h3{padding:8px 4px;border-bottom:1px solid #eee;margin-bottom:17px;font-size:18px}
.markdown h4{padding:5px 10px;font-size:17px;margin-bottom:15px;color:#555;font-weight:400}
.markdown h5{padding:5px 8px;font-size:16px;margin-bottom:12px;color:#555;font-weight:400}
.markdown p{font-size:1.2em;text-shadow:0 -1px 1px rgba(0,0,0,.2);line-height:1.6;color:#233;margin-bottom:19px}
.markdown ol,.markdown ul{margin:16px 12px;font-size:15px;text-shadow:0 1px 1px rgba(0,0,0,.2);padding: 0}
.markdown ol li,.markdown ul li{margin-bottom:5px;padding-left:5px}
.markdown ul li{margin-left:15px;list-style-type:disc!important}
.markdown ol li{margin-left:16px;list-style-type:decimal!important}
.markdown img{max-width:100%;padding-top:4px;border-radius:5px;box-shadow:rgba(0,0,0,.2) 0 1px 1px}
.markdown blockquote{margin:15px 10px;padding:5px 10px;color:#666;border-left:5px solid #ccc;word-wrap:break-word;letter-spacing:1px;line-height:20px}
.markdown hr{margin-bottom:10px;height:.15em;background-color:#e7e7e7;border:0}
.markdown br{margin-bottom:3px}
.markdown ._c{overflow:auto;word-wrap:break-word;font:1em Consolas,"Liberation Mono",Menlo,Courier,"Microsoft Yahei Light",monospace;padding:.2em .3em;background-color:rgba(0,0,0,.03);border-radius:2px;margin:0 .2em}
.markdown pre{overflow:auto;word-wrap:break-word;line-height:1.45;padding:16px;overflow:auto;background-color:#f7f7f7;border-radius:3px;color:#333;margin:15px 0 22px}
.markdown pre code{font:15px Consolas,"Liberation Mono",Menlo,Courier,"Microsoft Yahei Light",monospace;background-color: transparent;}
.markdown .note{font-size:14px;color:#969896}
.markdown a {outline: 0;color: #00a1d6;text-decoration: none;cursor: pointer;}
/* 
    表格样式，用github默认的
*/
.markdown table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  .markdown table th {
    font-weight: 600;
  }
  
  .markdown table th,
  .markdown table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  
  .markdown table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }
  
  .markdown table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }